<div class="right-sidebar" id="right-sidebar">

    <!-- 搜索功能 -->
    <% if(0){ %>
        <div class="search-section">
            <header class="section-header">
                <span class="icon-search"></span>
                <span class="title">搜索</span>
            </header>
            <section class="section-body">
                <form method="get" action="<% config.url %>" class="search-container" role="search">
                    <input type="text" name="s" class="search-input" placeholder="输入关键字搜索" aria-label="输入关键字搜索">
                    <button type="submit" class="search-button" aria-label="搜索">
                        <span class="icon-search"></span>
                    </button>
                </form>
            </section>
        </div>
    <% } %>

    <!-- 分类模块 -->
    <% if (theme.showCategory) { %>
        <div class="cloud-section">
            <header class="section-header">
                <span class="icon-emo-wink"></span>
                <span class="title">分类</span>
            </header>
            <section class="section-body">
                <div class="cloud-container">
                    <% 
                    const categories = site.categories || []; 
                    if (categories.length > 0) { 
                    %>
                        <% categories.forEach(function(category) { %>
                            <a href="<%= url_for(category.path) %>" class="category"><%= category.name %></a>
                        <% }); %>
                    <% } else { %>
                        <p>没有任何分类</p>
                    <% } %>
                </div>
            </section>
        </div>
    <% } %>

    <!-- 标签模块 -->
    <% if (theme.showTag) { %>
        <div class="cloud-section">
            <header class="section-header">
                <span class="icon-hashtag"></span>
                <span class="title">标签</span>
            </header>
            <section class="section-body">
                <div class="cloud-container">
                    <%
                    // bate
                    // 获取标签并按名称排序
                    const tagArray = site.tags.map(tag => tag.name).sort();
                    const maxTags = 20;
                    const totalTags = tagArray.length;
                    
                    // 计算标签归档页路径
                    const tagPage = site.pages.find(page => page.path.includes('tags/index.html') && page.type === 'tags');
                    const tagsUrl = tagPage ? tagPage.path : url_for(config.tag_dir + '/');
                    %>

                    <% if (totalTags > 0) { %>
                    <% tagArray.slice(0, maxTags).forEach(tagName => { %>
                        <a href="<%= url_for(config.tag_dir + '/' + tagName) %>" class="cloud-item">
                        <%= tagName %>
                        </a>
                    <% }) %>
                    <% if (totalTags > maxTags) { %>
                        <a href="<%= tagsUrl %>" class="cloud-item">...</a>
                    <% } %>
                    <% } else { %>
                    <p>没有任何标签</p>
                    <% } %>
                </div>
            </section>
        </div>
    <% } %>



    <!-- TOC -->
    <% if (theme.showTOC && ( is_home() || is_home_first_page())) { %>
        <div class="toc-section" id="toc-section" style="display: none;">
            <header class="section-header">
                <span class="icon-article"></span>
                <span class="title">文章目录</span>
            </header>
            <section class="section-body">
                <div class="toc"></div>
            </section>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                initializeStickyTOC();
            });
        </script>
    <% } %>

</div>